body {
    background-color: rgba(149, 158, 111, 0.575);
}

.footer {
    font-size: 1rem;
    color: rgb(153, 162, 170);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.heading {
    color: rgb(202, 101, 5);
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    border: 35px solid rgba(4, 111, 182, 0.514);
    background-color: rgb(223, 248, 242);
}

.kumm h2{
    color: rgb(202, 101, 5);
    text-align: center;
    
}

.kumm span {
    color: rgb(206, 2, 2);
}

.kumm table {
    margin: auto;
}

.valm li {
    color: rgb(3, 133, 3);
    font-size: 1.2rem;
}

.valm ol {
    margin: 0 auto;
    width: 15%;
}

.valm h2{
    color: rgb(202, 101, 5);;
    text-align: center;
}

th {
    color: rgb(107, 107, 107);
}

.vii {
    color: blueviolet;
    text-align: center;
}

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    margin: 0 auto;
    width: 267px;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }